<!DOCTYPE html>
<html>
<head>
  <title>GitLayers</title>
  <%= stylesheet_link_tag %>
  <%= javascript_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%=binding.pry%>
	<a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>Login</a></p>
<%= yield %>

</body>
</html>
